.switchOperatorLinkedPage {
    height: 1768px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.switchOperatorLinkedPage__column {
    width: 280px;
    height: 1716px;
    border-radius: 10px 10px 0px 0px;
    background-color: #fff;
    opacity: 0.7;
}

.switchOperatorLinkedPage__contentCode1 {
    font-size: 9px;
    padding-left: 10px;
    height: 100px;
    width: 250px;
    margin: 10px;
    border-radius: 5px;
    text-align: left;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.switchOperatorLinkedPage__contentCode2 {
    font-size: 9px;
    padding-left: 10px;
    height: 230px;
    width: 250px;
    margin: 10px;
    border-radius: 5px;
    text-align: left;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



@media(min-widtH: 430px) {
    .switchOperatorLinkedPage {
        height: 1832px;
        width: 430px;
    }
    .switchOperatorLinkedPage__column {
        width: 390px;
        height: 1780px;
    }
    .switchOperatorLinkedPage__contentCode1 {
        font-size: 11px;
        height: 115px;
        width: 360px;
    }
    .switchOperatorLinkedPage__contentCode2 {
        font-size: 11px;
        height: 300px;
        width: 360px;
    }
}


@media(min-widtH: 744px) {
    .switchOperatorLinkedPage {
        height: 2133px;
        width: 744px;
    }
    .switchOperatorLinkedPage__column {
        width: 644px;
        height: 2033px;
    }
    .switchOperatorLinkedPage__contentCode1 {
        font-size: 15px;
        height: 150px;
        width: 584px;
        margin: 20px;
        padding-left: 20px;
    }
    .switchOperatorLinkedPage__contentCode2 {
        font-size: 15px;
        height: 390px;
        width: 584px;
        margin: 20px;
        padding-left: 20px;
    }
}


@media(min-widtH: 1280px) {
    .switchOperatorLinkedPage {
        height: 2620px;
        width: 1280px;
    }
    .switchOperatorLinkedPage__column {
        width: 880px;
        height: 2520px;
    }
    .switchOperatorLinkedPage__contentCode1 {
        font-size: 19px;
        height: 180px;
        width: 780px;
        margin: 40px;
        padding-left: 25px;
    }
    .switchOperatorLinkedPage__contentCode2 {
        font-size: 19px;
        height: 480px;
        width: 780px;
        margin: 40px;
        padding-left: 25px;
    }
}


@media(min-widtH: 1920px) {
    .switchOperatorLinkedPage {
        height: 3280px;
        width: 1920px;
    }
    .switchOperatorLinkedPage__column {
        width: 1320px;
        height: 3130px;
    }
    .switchOperatorLinkedPage__contentCode1 {
        font-size: 24px;
        height: 235px;
        width: 1180px;
        margin: 55px;
        padding-left: 30px;
    }
    .switchOperatorLinkedPage__contentCode2 {
        font-size: 24px;
        height: 635px;
        width: 1180px;
        margin: 55px;
        padding-left: 30px;
    }
}