.cyclesPage {
    height: 868px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cyclesPage__column {
    width: 280px;
    height: 816px;
    border-radius: 10px 10px 0px 0px;
    background-color: #fff;
    opacity: 0.7;
}

.cyclesPage__contentCode {
    font-size: 9px;
    padding-left: 10px;
    height: 65px;
    width: 250px;
    margin: 10px;
    border-radius: 5px;
    text-align: left;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



@media(min-width: 430px) {
    .cyclesPage {
        height: 932px;
        width: 430px;
    }
    .cyclesPage__column {
        width: 390px;
        height: 880px;
    }
    .cyclesPage__contentCode {
        font-size: 11px;
        height: 90px;
        width: 360px;
    }
}


@media(min-width: 744px) {
    .cyclesPage {
        height: 1133px;
        width: 744px;
    }
    .cyclesPage__column {
        width: 644px;
        height: 1033px;
    }
    .cyclesPage__contentCode {
        font-size: 15px;
        height: 140px;
        width: 584px;
        padding-left: 20px;
        margin: 20px;
    }
}


@media(min-width: 1280px) {
    .cyclesPage {
        height: 1604px;
        width: 1280px;
    }
    .cyclesPage__column {
        width: 880px;
        height: 1504px;
    }
    .cyclesPage__contentCode {
        font-size: 19px;
        height: 180px;
        width: 780px;
        padding-left: 25px;
        margin: 40px;
    }
}


@media(min-width: 1920px) {
    .cyclesPage {
        height: 1915px;
        width: 1920px;
    }
    .cyclesPage__column {
        width: 1320px;
        height: 1865px;
    }
    .cyclesPage__contentCode {
        font-size: 24px;
        height: 210px;
        width: 1150px;
        padding-left: 30px;
        margin: 70px;
    }
}