.mapsLinkedPage {
    height: 650px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mapsLinkedPage__column {
    width: 280px;
    height: 600px;
    border-radius: 10px 10px 0px 0px;
    background-color: #fff;
    opacity: 0.7;
}

.mapsLinkedPage__contentCode1 {
    font-size: 9px;
    padding-left: 10px;
    height: 85px;
    width: 250px;
    margin: 10px;
    border-radius: 5px;
    text-align: left;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



@media(min-width: 430px) {
    .mapsLinkedPage {
        height: 932px;
        width: 430px;
    }
    .mapsLinkedPage__column {
        width: 390px;
        height: 880px;
    }
    .mapsLinkedPage__contentCode1 {
        font-size: 11px;
        width: 360px;
    }
}


@media(min-width: 744px) {
    .mapsLinkedPage {
        height: 1133px;
        width: 744px;
    }
    .mapsLinkedPage__column {
        width: 644px;
        height: 1033px;
    }
    .mapsLinkedPage__contentCode1 {
        font-size: 15px;
        height: 95px;
        width: 584px;
        margin: 20px;
        padding-left: 20px;
    }
}


@media(min-width: 1280px) {
    .mapsLinkedPage {
        height: 944px;
        width: 1280px;
    }
    .mapsLinkedPage__column {
        width: 880px;
        height: 844px;
    }
    .mapsLinkedPage__contentCode1 {
        font-size: 19px;
        height: 100px;
        width: 780px;
        margin: 40px;
        padding-left: 25px;
    }
}


@media(min-width: 1920px) {
    .mapsLinkedPage {
        height: 1215px;
        width: 1920px;
    }
    .mapsLinkedPage__column {
        width: 1320px;
        height: 1065px;
    }
    .mapsLinkedPage__contentCode1 {
        font-size: 24px;
        height: 140px;
        width: 1180px;
        margin: 55px;
        padding-left: 30px;
    }
}