.linkedListsLinkedPage {
    height: 9313px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.linkedListsLinkedPage__column {
    width: 280px;
    height: 9261px;
    border-radius: 10px 10px 0px 0px;
    background-color: #fff;
    opacity: 0.7;
}

.linkedListsLinkedPage__contentCode1 {
    font-size: 9px;
    padding-left: 10px;
    height: 190px;
    width: 250px;
    margin: 10px;
    border-radius: 5px;
    text-align: left;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.linkedListsLinkedPage__contentCode2 {
    font-size: 9px;
    padding-left: 10px;
    height: 100px;
    width: 250px;
    margin: 10px;
    border-radius: 5px;
    text-align: left;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.linkedListsLinkedPage__contentCode3 {
    font-size: 9px;
    padding-left: 10px;
    height: 50px;
    width: 250px;
    margin: 10px;
    border-radius: 5px;
    text-align: left;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.linkedListsLinkedPage__contentCode4 {
    font-size: 9px;
    padding-left: 10px;
    height: 250px;
    width: 250px;
    margin: 10px;
    border-radius: 5px;
    text-align: left;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.linkedListsLinkedPage__contentCode5 {
    font-size: 9px;
    padding-left: 10px;
    height: 650px;
    width: 250px;
    margin: 10px;
    border-radius: 5px;
    text-align: left;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media(min-width: 430px) {
    .linkedListsLinkedPage {
        height: 9299px;
        width: 430px;
    }
    .linkedListsLinkedPage__column {
        width: 390px;
        height: 9247px;
    }
    .linkedListsLinkedPage__contentCode1 {
        font-size: 11px;
        height: 220px;
        width: 360px;
    }
    .linkedListsLinkedPage__contentCode2 {
        font-size: 11px;
        height: 120px;
        width: 360px;
    }
    .linkedListsLinkedPage__contentCode3 {
        font-size: 11px;
        height: 60px;
        width: 360px;
    }
    .linkedListsLinkedPage__contentCode4 {
        font-size: 11px;
        height: 290px;
        width: 360px;
    }
    .linkedListsLinkedPage__contentCode5 {
        font-size: 11px;
        height: 790px;
        width: 360px;
    }
}


@media(min-width: 744px) {
    .linkedListsLinkedPage {
        height: 11150px;
        width: 744px;
    }
    .linkedListsLinkedPage__column {
        width: 644px;
        height: 11050px;
    }
    .linkedListsLinkedPage__contentCode1 {
        font-size: 15px;
        height: 270px;
        width: 584px;
        margin: 20px;
        padding-left: 20px;
    }
    .linkedListsLinkedPage__contentCode2 {
        font-size: 15px;
        height: 150px;
        width: 584px;
        margin: 20px;
        padding-left: 20px;
    }
    .linkedListsLinkedPage__contentCode3 {
        font-size: 15px;
        height: 80px;
        width: 584px;
        margin: 20px;
        padding-left: 20px;
    }
    .linkedListsLinkedPage__contentCode4 {
        font-size: 15px;
        height: 360px;
        width: 584px;
        margin: 20px;
        padding-left: 20px;
    }
    .linkedListsLinkedPage__contentCode5 {
        font-size: 15px;
        height: 1050px;
        width: 584px;
        margin: 20px;
        padding-left: 20px;
    }
}


@media(min-width: 1280px) {
    .linkedListsLinkedPage {
        height: 15312px;
        width: 1280px;
    }
    .linkedListsLinkedPage__column {
        width: 880px;
        height: 15212px;
    }
    .linkedListsLinkedPage__contentCode1 {
        font-size: 19px;
        height: 350px;
        width: 780px;
        margin: 40px;
        padding-left: 25px;
    }
    .linkedListsLinkedPage__contentCode2 {
        font-size: 19px;
        height: 200px;
        width: 780px;
        margin: 40px;
        padding-left: 25px;
    }
    .linkedListsLinkedPage__contentCode3 {
        font-size: 19px;
        height: 100px;
        width: 780px;
        margin: 40px;
        padding-left: 25px;
    }
    .linkedListsLinkedPage__contentCode4 {
        font-size: 19px;
        height: 450px;
        width: 780px;
        margin: 40px;
        padding-left: 25px;
    }
    .linkedListsLinkedPage__contentCode5 {
        font-size: 19px;
        height: 1350px;
        width: 780px;
        margin: 40px;
        padding-left: 25px;
    }
}


@media(min-width: 1920px) {
    .linkedListsLinkedPage {
        height: 19340px;
        width: 1920px;
    }
    .linkedListsLinkedPage__column {
        width: 1320px;
        height: 19190px;
    }
    .linkedListsLinkedPage__contentCode1 {
        font-size: 24px;
        height: 400px;
        width: 1180px;
        margin: 55px;
        padding-left: 30px;
    }
    .linkedListsLinkedPage__contentCode2 {
        font-size: 24px;
        height: 250px;
        width: 1180px;
        margin: 55px;
        padding-left: 30px;
    }
    .linkedListsLinkedPage__contentCode3 {
        font-size: 24px;
        height: 130px;
        width: 1180px;
        margin: 55px;
        padding-left: 30px;
    }
    .linkedListsLinkedPage__contentCode4 {
        font-size: 24px;
        height: 560px;
        width: 1180px;
        margin: 55px;
        padding-left: 30px;
    }
    .linkedListsLinkedPage__contentCode5 {
        font-size: 24px;
        height: 1620px;
        width: 1180px;
        margin: 55px;
        padding-left: 30px;
    }
}