.functionsLinkedPage {
    height: 4468px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.functionsLinkedPage__column {
    width: 280px;
    height: 4416px;
    border-radius: 10px 10px 0px 0px;
    background-color: #fff;
    opacity: 0.7;
}

.functionsLinkedPage__contentCode1 {
    font-size: 9px;
    padding-left: 10px;
    height: 145px;
    width: 250px;
    margin: 10px;
    border-radius: 5px;
    text-align: left;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.functionsLinkedPage__contentCode2 {
    font-size: 9px;
    padding-left: 10px;
    height: 50px;
    width: 250px;
    margin: 10px;
    border-radius: 5px;
    text-align: left;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: column;
    justify-content: center;
}




@media(min-width: 430px) {
    .functionsLinkedPage {
        height: 4132px;
        width: 430px;
    }
    .functionsLinkedPage__column {
        width: 390px;
        height: 4080px;
    }
    .functionsLinkedPage__contentCode1 {
        font-size: 11px;
        height: 180px;
        width: 360px;
    }
    .functionsLinkedPage__contentCode2 {
        font-size: 11px;
        height: 60px;
        width: 360px;
    }
}


@media(min-width: 744px) {
    .functionsLinkedPage {
        height: 4933px;
        width: 744px;
    }
    .functionsLinkedPage__column {
        width: 644px;
        height: 4873px;
    }
    .functionsLinkedPage__contentCode1 {
        font-size: 15px;
        height: 240px;
        width: 584px;
        margin: 20px;
        padding-left: 20px;
    }
    .functionsLinkedPage__contentCode2 {
        font-size: 15px;
        height: 80px;
        width: 584px;
        margin: 20px;
        padding-left: 20px;
    }
}


@media(min-width: 1280px) {
    .functionsLinkedPage {
        height: 7218px;
        width: 1280px;
    }
    .functionsLinkedPage__column {
        width: 880px;
        height: 7118px;
    }
    .functionsLinkedPage__contentCode1 {
        font-size: 19px;
        height: 330px;
        width: 780px;
        margin: 40px;
        padding-left: 25px;
    }
    .functionsLinkedPage__contentCode2 {
        font-size: 19px;
        height: 100px;
        width: 780px;
        margin: 40px;
        padding-left: 25px;
    }
}


@media(min-width: 1920px) {
    .functionsLinkedPage {
        height: 9328px;
        width: 1920px;
    }
    .functionsLinkedPage__column {
        width: 1320px;
        height: 9178px;
    }
    .functionsLinkedPage__contentCode1 {
        font-size: 24px;
        height: 390px;
        width: 1180px;
        margin: 55px;
        padding-left: 30px;
    }
    .functionsLinkedPage__contentCode2 {
        font-size: 24px;
        height: 140px;
        width: 1180px;
        margin: 55px;
        padding-left: 30px;
    }
}