.ternaryOperatorLinkedPage {
    height: 1090px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ternaryOperatorLinkedPage__column {
    width: 280px;
    height: 1040px;
    border-radius: 10px 10px 0px 0px;
    background-color: #fff;
    opacity: 0.7;
}

.ternaryOperatorLinkedPage__contentCode1 {
    font-size: 9px;
    padding-left: 10px;
    height: 130px;
    width: 250px;
    margin: 10px;
    border-radius: 5px;
    text-align: left;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ternaryOperatorLinkedPage__contentCode2 {
    font-size: 9px;
    padding-left: 10px;
    height: 30px;
    width: 250px;
    margin: 10px;
    border-radius: 5px;
    text-align: left;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



@media(min-width: 430px) {
    .ternaryOperatorLinkedPage {
        height: 1132px;
        width: 430px;
    }
    .ternaryOperatorLinkedPage__column {
        width: 390px;
        height: 1180px;
    }
    .ternaryOperatorLinkedPage__contentCode1 {
        font-size: 11px;
        height: 170px;
        width: 360px;
    }
    .ternaryOperatorLinkedPage__contentCode2 {
        font-size: 11px;
        height: 30px;
        width: 360px;
    }
}


@media(min-width: 744px) {
    .ternaryOperatorLinkedPage {
        height: 1533px;
        width: 744px;
    }
    .ternaryOperatorLinkedPage__column {
        width: 644px;
        height: 1433px;
    }
    .ternaryOperatorLinkedPage__contentCode1 {
        font-size: 15px;
        height: 230px;
        width: 584px;
        margin: 20px;
        padding-left: 20px;
    }
    .ternaryOperatorLinkedPage__contentCode2 {
        font-size: 15px;
        height: 50px;
        width: 584px;
        margin: 20px;
        padding-left: 20px;
    }
}


@media(min-width: 1280px) {
    .ternaryOperatorLinkedPage {
        height: 2108px;
        width: 1280px;
    }
    .ternaryOperatorLinkedPage__column {
        width: 880px;
        height: 2008px;
    }
    .ternaryOperatorLinkedPage__contentCode1 {
        font-size: 19px;
        height: 280px;
        width: 780px;
        margin: 40px;
        padding-left: 25px;
    }
    .ternaryOperatorLinkedPage__contentCode2 {
        font-size: 19px;
        height: 50px;
        width: 780px;
        margin: 40px;
        padding-left: 25px;
    }
}


@media(min-width: 1920px) {
    .ternaryOperatorLinkedPage {
        height: 2563px;
        width: 1920px;
    }
    .ternaryOperatorLinkedPage__column {
        width: 1320px;
        height: 2463px;
    }
    .ternaryOperatorLinkedPage__contentCode1 {
        font-size: 24px;
        height: 300px;
        width: 1180px;
        margin: 55px;
        padding-left: 30px;
    }
    .ternaryOperatorLinkedPage__contentCode2 {
        font-size: 24px;
        height: 70px;
        width: 1180px;
        margin: 55px;
        padding-left: 30px;
    }
}